__pycache__
data/Electronics_5.json
data/Electronics.json
data/other_group/reviews_Electronics_5_filtered.json
.DS_Store
data/input_data/reviews_Electronics_5_filtered.json
data/preprocessed_data/Dataset.pickle
models/Dataset_20.pickle
results/ndcg_lt_100_5.pickle
results/ndcg_lt_20_5.pickle
